<p>bike-create works!</p>

<!--[formGroup]="bikesFormgrup"-->
<form [formGroup]="bikeFormGroup" novalidate (ngSubmit)="saveBike()">

    <div>
        <label for="">Model</label>
        <input type="text" formControlName="model" name="model" placeholder="modelo">
        <div *ngIf="bikeFormGroup.get('model').invalid && (bikeFormGroup.get('model')
        .dirty || bikeFormGroup.get('model').touched)">
            <div *ngIf="bikeFormGroup.get('model').errors.required">
                <p>el campo es requerido</p>
            </div>
            <div *ngIf="bikeFormGroup.get('model').errors.maxlength">
                <p>el campo debe tener un maximo de 4 caracteres</p>
            </div>
        </div>
    </div>

    <div>
        <label for="">Serial</label>
        <input type="text" formControlName="serial" name="serial" placeholder="serial">
    </div>

    <div>
        <label for="">Price</label>
        <input type="text" formControlName="price" name="Price" placeholder="precio">
    </div>

    <button type="submit">Guardar</button>

</form>

<div>
    <app-bike-list></app-bike-list>
</div>