<div>
    <h2>Bike</h2>
   
   
   <a routerLink="//bikes/bike-list" >Bike-List</a>
   <p></p>
   <a routerLink="//bikes/bike-create">Bike-create</a>
   <p></p>
   <a routerLink="//bikes/bike-view">Bike-view</a>
   <p></p>
   <a routerLink="//bikes/bike-update">Bike-update</a>
   
   <h2>client</h2>
   
   <a routerLink="//client/client-list">clien-list</a>
   <p></p>
   <a routerLink="//client/client-create">clien-create</a>
   <p></p>
   <a routerLink="//client/client-view">clien-view</a>
   <p></p>
   <a routerLink="//client/client-update">clien-update</a>
   
   <h2>Sales</h2>
   
   <a routerLink="//sales/sales-list">Sales-list</a>
   <p></p>
   <a routerLink="//sales/sales-create">Sales-create</a>
   <p></p>
   <a routerLink="//sales/sales-view">Sales-view</a>
   <p></p>
   <a routerLink="//sales/sales-update">Sales-update</a>
   </div>
  
