<p>bike-update works!</p>

<form [formGroup]="formBikeUpdate" novalidate (ngSubmit)="update()">

    <div class="m-1">

        <input type="text" formControlName="id" name="id" placeholder="id">
    </div>
    <div>
        <label class="m-2" for="">Model</label>
        <input type="text" formControlName="model" name="model" placeholder="modelo">
        <div *ngIf="formBikeUpdate.get('model').invalid && (formBikeUpdate.get('model')
        .dirty || formBikeUpdate.get('model').touched)">
            <div *ngIf="formBikeUpdate.get('model').errors.required">
                <p>el campo es requerido</p>
            </div>
            <div *ngIf="formBikeUpdate.get('model').errors.maxlength">
                <p>el campo debe tener un maximo de 4 caracteres</p>
            </div>
        </div>
    </div>

    <div>
        <label class="m-2" for="">Serial</label>
        <input type="text" formControlName="serial" name="serial" placeholder="serial">
    </div>

    <div>
        <label class="m-2" for="">Price</label>
        <input type="text" formControlName="price" name="Price" placeholder="precio">
    </div>

    <button class="btn btn-primary m1" type="submit" [disabled]="formBikeUpdate.invalid">Guardar</button>

</form>